<div class="page-header" align="center">
    <h1>Usuários</h1> <small>Crie e exclua os Usuários cadastrados no sistema</small>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Adicionar novo Usuário</h3>
          </div> 
      </br>
        <form ng-submit="ctl.salvapessoa()">
            <fieldset>
                <div class="input-group">          
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nome do Usuário" name="Nome" ng-model="ctl.nova_pessoa.Nome" required/>
                    </div>
                        <br/>
                        <input type="submit" class="btn btn-primary btn-sm"/>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</br>
<table class="table table-bordered" align="center">
    <tr>
        <th>Id do Usuário</th>
        <th>Nome</th>
    </tr>
    <tr ng-repeat="pessoas in ctl.pessoas">
        <td>{{pessoas.Id_pessoa}}</td>
        <td>{{pessoas.Nome}}</td>
    </tr>
</table>

