<h1>Reservas</h1>
<form ng-submit="ctl.salvareserva()">
  <fieldset>
    <legend>Nova reserva</legend>
    <label>Data</label>
    <input name="Data_da_reserva" type="date" ng-model="ctl.nova_reserva.Data_da_reserva" required/>
    <br/>
    <label>Sala</label>
    <input name="Id_espaco" ng-model="ctl.nova_reserva.Id_Espaco" required/>
    <br/>
    <label>Reservante</label>
    <input name="Id_pessoa" ng-model="ctl.nova_reserva.Id_Pessoa" required/>
    <br/>
    <input type="submit"/>
  </fieldset>
</form>
<ul>
  <li ng-repeat="reservas in ctl.reservas">{{reservas.Id_reserva}} | {{reservas.Data_da_reserva}} | {{reservas.Id_espaco}} | {{reservas.Id_pessoa}}</li>
</ul>